<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <title>Matrix</title>
</head>

<body>
   <div class="container">
   <div>
    <form class = "form" method="post">
        <h2>FOR MATRIX CALCULATIONS</h2>
        <h3>By AK Deepankar</h3>
        <input type="number" step="1" id="one" name="a11" placeholder="a11" >
        <input type="number" step="1" id="two" name="a12" placeholder="a22">
        <input type="number" step="1" id="three" name="a13" placeholder="a13">
        <br>
        <br>
        <input type="number" step="1" id="four" name="a21" placeholder="a21">
        <input type="number" step="1" id="five" name="a22" placeholder="a22">
        <input type="number" step="1" id="six" name="a23" placeholder="a23">
        <br>
        <br>
        <input type="number" step="1" id="seven" name="a31" placeholder="a31">
        <input type="number" step="1" id="eight" name="a32" placeholder="a32">
        <input type="number" step="1" id="nine" name="a33" placeholder="a33">
        <br>
        <br>
        <button type="submit">FIND DETERMINANT</button>
        <h2>THE DETERMINANT IS : {{ values }} </h2>
        <br>
    </form>
    </div>
    <div>
    <button onclick="darkMode()">DarkMode</button>
    <button onclick="lightMode()">LightMode</button>
    </div>
   </div>

    <script>
      function darkMode() {
        let element = document.body;
        element.className = "dark-mode";
      }
      function lightMode() {
        let element = document.body;
        element.className = "light-mode";
      }
    </script>

</body>

</html>